* {
  box-sizing: border-box;
  /* font-family: 'raleway'; */
  margin: 0;
  padding: 0;
  /* color: #000000; */
}
html {
  max-width: 1920px;
  margin: 0 auto;
  align-items: center;
}
ul {
  list-style: none;
}
img, a {
  border:none;
  outline:none;

}

.acf-map {
	width: 100%;
	height: 800px;
	border: #ccc solid 1px;
	margin:0;
  top: 1rem;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}


/* li a {
  text-decoration: none!important;
  padding-left: 20%;
  padding-right: 20%;
  color: black;
  font-size: 22px;
  color: rgba(179, 0, 0,1);

} */

.container {
  padding-left: 10%;
  padding-right: 10%;
}

/* pradiniai kontaktai */

.mobile-container{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: right;
  /* -webkit-box-shadow: 0px 2px 13px 0px rgba(184,184,184,1);
  -moz-box-shadow: 0px 2px 13px 0px rgba(184,184,184,1);
  box-shadow: 0px 2px 13px 0px rgba(184,184,184,1); */
  padding-right: 5%;
  opacity: 0.5;
  transition: .7s ease-in ;

}

.mobile-container:hover {
  color: red;
  opacity: 0.5;

}

/* headeris */

.flex-container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}
.header-logo-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
.navigation {
  margin-bottom: 0;
  align-items: flex-end;
}
.logo {
  width: 25%;
}
.navigation li {
  padding-left: 30px;
  display: inline;

}
.navigation li a {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
    position: relative;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color  0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
    font-size: 20px;
}
.navigation li a::before {
  content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    animation: underline-gradient 6s linear infinite;
  background-image: linear-gradient(90deg, rgba(255, 204, 204, 0.8) 15%, rgba(255, 153, 153, 0.6) 35%, rgba(255, 77, 77, 0.8) 75%);
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.navigation li a:active::before {
  background-color: #000;
}
.navigation li a:hover::before, a:focus::before {
  transform-origin: left top;
    transform: scale(1, 1);
}
.navigation li a:hover, a:focus, a:active {
  color: #999;
    text-decoration: none;

}

.burger {
    display: none;
    cursor: pointer;

}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/* automatine karusele*/


/* apie mus slaidas*/

.main-container {
  padding-top: 5%;
  padding-left: 5%;
  width: 16%;
}
.main-container h1{
  border-bottom: 1px solid rgba(89, 89, 89, 0.5);
  transition: .4s ease-in;
}
.main-container h1:hover{
  border-bottom: 1px solid rgba(89, 89, 89, 0.85);
}
.about-us-container {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10%;
  padding-bottom: 10%;
  flex-wrap: wrap;
  align-items: flex-start;
  margin:0;
  padding-bottom: 20%;
}
.about-us-container p:nth-child(2) {
  text-align: left;


}

.about-us-container li {
  width: 30%;
  text-align: center;
}
/* works section */
.works-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.works-list-container {
  align-items:flex-start;
  justify-content: space-around;
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 7%;
  overflow: hidden;
  padding-bottom: 30px;
}
/* hover img*/
.images-container{
  max-width: 100%;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.images-container:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.text-container * {
  margin-bottom: 0;

}
.contact {
  height: 230px;
  background-image: url('../../images/pagr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 53% 14%;
  margin-top: -100px;
  position:relative;
  justify-content: center;
  background-attachment: fixed;
  padding-bottom: 20px;
}
.text-container {
  display: block;
  padding-top: 10%;
  text-align: center;
  background-color: rgba(204, 204, 204,0.8);
}
.text-container p {
  padding-top: 5%;
}
.services-button{
  background-color: rgba(102, 0, 0,0.5);
  text-align: center;
  transition: .2s ease-in .1s;
}
.services-button:hover {
  background-color: rgba(102, 0, 0,0.7);
}
.services-button a:hover {
  color:#000;
}
/* darbai section */
.images-list-container {
  padding-top: 5%;
}
.image-item img {
  width: 95.5%;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  filter: grayscale(100%);
  filter: blur(0.5px);

}
.image-item img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  filter: grayscale(0%);
  filter: blur(0px);
  border-radius: 20%;
}
.background-image-container  {
  background-color: rgba(102, 0, 0,0.7);
}

.more-images-list-container{
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}
.more-image-item {
  padding-bottom: 3%;
}
.more-image-item img {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.more-image-item img:hover{
  border-radius: 20%;

}
a.more-image-item img {
height: 150px;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;
}
.contact-form {
  position: relative;
  display: block;
  height: 68em;
}
.wpcf7 {
  width: 50%;
  text-align: center;
  margin: 0 auto!important;
}
.wpcf7-form label {
  width: 60%!important;
}
.cf7-style input.wpcf7-form-control.wpcf7-submit {
  width: 25%;
  transition-duration: 0.4s;
  border: 2px solid #555555;
  background-color: white;
  color: black;
}
.cf7-style input.wpcf7-form-control.wpcf7-submit:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  background-color: #555555;
  border-radius: 5%;
}
.cf7-style p {
  font-size: 1rem!important;
  margin-bottom: 1rem!important;
}
.icons {
  position: relative;
  justify-content: center;
  background-color: red;
  padding-top: 4em;
  padding-bottom: 4em;
}
.icons h3 {
  padding-left: 30px;
  padding-right: 25px;
  color: blue;
  font-size: 48px;
  transition: .2s ease-in .1s;
}
.icons :first-child:hover h3 {
  transition: .4s ease-in .2s;
  color: #ffffff;
}
.icons :nth-child(2):hover h3 {
  transition: .4s ease-in .2s;
  color: #ffff00;
}
.icons :nth-child(3):hover h3 {
  transition: .4s ease-in .2s;
  color: #ff00ff;
}
.copyright-container {
  position: absolute;
  top:9em;
}
.adress-container strong {
  visibility: visible;
	position: relative;
}
.adress-container p:hover:after{
  visibility: visible;
  position: absolute;
  display: flex;
	content: "asdasd";

}
.more-background {
  height: 600px;
  background-image: url('../../images/more.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 64%;
  margin-top: -17px;
  position: relative;
  justify-content: center;
  background-attachment: fixed;
}
.more-color {
  height: 600px;
  opacity: 0.5;
  background-color:#1a1a1a
}
.more-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}
.more-description p {
  margin-bottom: 0;
  font-size: 32px;
  color: red;

}
.more-description p:first-child {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: 1000;
}
.more-description p:nth-child(2) {
  letter-spacing: 0.2rem;
  color: black;
  text-transform:full-width;
  font-weight: 2000;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 5em;
  transition: .2s ease-in .1s;
}
#myBtn:hover svg{
  opacity: 0.75;
  transition: .2s ease-in .1s;
  color: rgba(0, 0, 128,1);
  padding: 5px;
}
@media all and (max-width: 1000px) {
  .burger {
    display: block;
  }
  .hide {
    display: none;
  }
  .navigation {
    top: 2em;
    position: relative;
  }
  .navigation li{
    display: block;
    text-align: center;
    padding: 0;
  }
  .navigation li a {
    display: block;
  }
  .header-logo-container {
    align-items: flex-start;
  }

}
